{% extends "base.html" %}
{% block content %}
 
    <div class="site-title text-center my-5">
        <h1>GitHub Jobs</h1>
        <h2>Znajdź pracę na portalu GitHub</h2>
        <p>Wszystkie ogłoszenia w jednym miejscu!</p>
    </div>
    <form class="search-form text-center" action="/results" method="POST">
        <div class="input text">
            {{ form.technology.label }} {{ form.technology }}
            {{ form.place.label }} {{ form.place }}
        </div>
        <div class="input submit my-5">
            <input type="submit" value="Wyszukaj"></div>
    </form>
 
{% endblock %}